@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  body {
    @apply relative h-full min-w-[375px] bg-violet-50 leading-tight text-black antialiased transition-colors duration-150 dark:bg-zinc dark:text-white;
  }

  /* XL */
  h1 {
    @apply text-xl font-bold;
  }

  /* L */
  h2 {
    @apply text-lg font-bold;
  }

  /* M */
  h3 {
    @apply text-md font-bold;
  }

  /* S */
  h4 {
    @apply text-sm font-bold tracking-[2.4px];
  }

  textarea {
    @apply h-28 resize-none;
  }

  input,
  textarea {
    @apply w-full rounded-md border px-4 py-2 text-body-lg hover:border-violet-700 dark:bg-gunmetal-800 dark:disabled:bg-zinc dark:disabled:text-white/25;
  }
}

@layer components {
  .btn {
    @apply cursor-pointer rounded-full px-[1.125rem] font-bold md:px-6;
  }

  /* sizes */
  .rg {
    @apply py-2.5;
  }

  .lg {
    @apply py-2.5 md:py-4;
  }

  .wide {
    @apply w-full;
  }

  /* variant/color */
  .primary {
    @apply bg-violet-700 text-white transition hover:bg-violet-400;
  }

  .secondary {
    @apply bg-violet-700/10 text-violet-700 transition hover:bg-violet-700/25 dark:bg-white dark:hover:bg-indigo;
  }

  .delete {
    @apply bg-red-600 text-white transition hover:bg-red-400;
  }

  .disabled {
    @apply cursor-not-allowed opacity-25;
  }

  .no-bg {
    @apply bg-transparent px-0 text-violet-700 transition hover:text-violet-400;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-body-md {
    @apply font-bold;
  }
}

.auth-input {
  @apply rounded-none border-0 border-b-2 border-slate placeholder-transparent focus:border-violet-700 focus:outline-none;
}

/* table styling */
thead > tr {
  @apply border-none;
}

tbody {
  > tr {
    @apply border-x border-slate/25 bg-white transition ease-in-out dark:bg-gunmetal-800;

    &:nth-child(even) {
      @apply bg-slate/25;
    }

    &:first-child {
      @apply border-t border-slate/25;
    }

    &:last-child {
      @apply rounded-b-xl border-b border-slate/25;
    }

    &:hover {
      @apply cursor-pointer bg-slate/50;
    }
  }
}

[data-subtask-completed="true"] {
  > span {
    @apply inline-flex items-center rounded-md bg-green-400/10 px-2 py-1 font-medium text-green-700 line-through ring-1 ring-inset ring-green-500/20 dark:bg-green-500/10 dark:text-green-500;
  }
}

[data-subtask-completed="false"] {
  > span {
    @apply inline-flex items-center rounded-md bg-red-400/10 px-2 py-1 font-medium text-red-500 ring-1 ring-inset ring-red-500/20 dark:bg-red-500/10;
  }
}
/* end table styling */

/* theme switcher styling */
.theme-label:before {
  content: "";
  animation-name: reverse;
  animation-duration: 150ms;
  animation-fill-mode: forwards;
  transition: all 150ms ease-in;
  @apply absolute left-0.5 top-0.5 h-3.5 w-3.5 rounded-full bg-white;
}

.checkbox {
  @apply bg-violet-700;
}

.checkbox:checked {
  & + .theme-label {
    @apply border-violet-700 bg-violet-700 transition hover:bg-violet-400;

    &:before {
      animation-name: switch;
      animation-duration: 150ms;
      animation-fill-mode: forwards;
      @apply bg-white;
    }

    &:after {
      transition-delay: 150ms;
      @apply opacity-100;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
    z-index: 10;
  }

  100% {
    opacity: 1;
    z-index: 50;
  }
}

@keyframes reverse {
  0% {
    left: 22px;
    width: 14px;
  }
  60% {
    left: 16px;
    width: 20px;
  }
  100% {
    left: 2px;
  }
}

@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 16px;
    width: 20px;
  }
  100% {
    left: 22px;
    width: 14px;
  }
}
/* end theme switcher styling */
